@import '../styles/variables/base.scss';

.container {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  flex: 0 0 3rem;
  padding: 1rem 2rem;
  border-bottom: 1px solid var(--border-color);
  nav {
    display: flex;
    flex: 1 1 auto;
    .titleContainer {
      flex: 1 1 auto;
      h1 {
        display: inline;
      }
      a.logo {
        display: inline-flex;
        align-items: center;
        flex: 1 1 auto;
        color: var(--foreground-color-dark);
        &:hover {
          text-decoration: none;
          color: var(--foreground-color-light);
          .tank {
            fill: var(--foreground-color-light);
          }
        }
        .tank {
          width: 3.5rem;
          margin: 0 1rem 0 0;
          fill: var(--foreground-color-dark);
        }
        .acronymTitle {
          margin: 0 1rem 0 0;
          padding: 0 1rem 0 0;
          border-right: 1px solid var(--border-color);
          font-size: 2rem;
          font-weight: 100;
        }
        .title {
          font-weight: 500;
          letter-spacing: 0.02rem;
        }
        em {
          display: inline-block;
          font-weight: 300;
          padding: 0 2rem;
        }
      } 
    }
    .buttonContainer {
      display: flex;
      align-items: center;
      flex: 0 0 auto;

    }
  }
}

.main {
  position: relative;
  flex: 1 1 auto;
}

.footer {
  padding: 3rem;
  font-size: 0.75rem;
  text-align: center;
}

.backToHome {
  margin: 3rem 0 0;
}